@{
    ViewBag.Title = "Home Page";
}

@section scripts{
    @Scripts.Render("~/bundles/app")
}

<body class="hold-transition skin-yellow layout-boxed sidebar-mini" style="height: auto" ng-app="app" ng-controller="GreetingController">
    <!-- Site wrapper -->
    <div class="wrapper" style="overflow-y: hidden" custom-theme-functions ng-hide="loading">
        <header class="main-header">
            <!-- Logo -->
            <a class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>Bee</b>M</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Beehive</b>Monitor</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <img src="Content/img/profile-pic.png" class="user-image" alt="User Image">
                                <span class="hidden-xs">{{user.Email}}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="Content/img/profile-pic.png" class="img-circle" alt="User Image">
                                    <p>
                                        {{user.Email}}
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a class="btn btn-primary" ng-click="getReport()">Send Email Report</a>
                                    </div>
                                    <div class="pull-right">
                                        <a class="btn btn-defaultat" ng-click="logOff()">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Content/img/profile-pic.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>{{user.Email}}</p>
                        <a><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li>
                        <a href="#/home">
                            <i class="fa fa-home"></i> <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/apiary">
                            <i class="fa fa-th"></i> <span>Apiary</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/hive">
                            <i class="fa fa-edit"></i> <span>Hive file</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/map">
                            <i class="fa fa-map"></i> <span>Map</span>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div data-ng-view="" id="page-content"> </div>
           
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>MPSIT</b>
            </div>
            <strong>Copyright &copy; 2016-2017</strong> Sinziana Nicolae, SSA
        </footer>
    </div>
</body>