@{
    ViewBag.Title = "Home Page";
}

@section scripts{
    @Scripts.Render("~/bundles/app")
}

<body class="hold-transition skin-green layout-boxed sidebar-collapse sidebar-mini">
    <div ng-app="app">

        <div data-ng-view="" id="page-content" custom-theme-functions> </div>

    </div>
</body>