<div class="row m-0">
    <div class="col-md-12" ng-repeat="apiary in data">
        <div class="box box-widget">
            <div class="box-header with-border">
                <div class="user-block">
                    <img class="img-circle"
                         src="/Content/img/apiary-icon.png" alt="Apiary"> <span class="username"><a href="#/apiary/{{apiary.Id}}">Apiary_{{apiary.Id}}</a> - {{apiary.Hives.length}} hives</span>
                    <span class="description">
                        <a>The hives in your apiary are listed below with their current status.</a>
                    </span>
                </div>
                <div class="box-tools">
                    <button type="button" class="btn btn-box-tool"
                            data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th width="10%">Status</th>
                                    <th width="50%">Hive Ids</th>
                                    <th width="40%">Percentage</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(key, value) in apiary.groupedHiveFiles">
                                    <td style="vertical-align: middle;"><span ng-class="getStatusClass(key)">{{key}}</span></td>
                                    <td style="vertical-align: middle;">
                                        <strong ng-repeat="hive in value">
                                            <a ng-href="#/hive/{{hive.Id}}">{{hive.Id}}</a>
                                            <span ng-if='$index!==value.length-1'>,</span>
                                        </strong>
                                    </td>

                                    <td style="vertical-align: middle;">
                                        <div class="progress progress-striped active" style="width: 80%; float: left">
                                            <div ng-class="getProgressClass(key)" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" ng-style="getStatusPercent(value.length, apiary, 'style')"></div>
                                        </div>
                                        <span style="padding: 10px"> {{getStatusPercent(value.length, apiary) | number:2}}%<span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6" ng-repeat="hive in apiary.Hives">
                    <div class="box box-widget">
                        <div class="box-header with-border">
                            <div class="user-block">
                                <img class="img-circle"
                                     src="/Content/img/hive.png" alt="Apiary"> <span class="username">
                                    <a href="#/hive/{{hive.Id}}" ng-style="{true: {'color' : 'red'}}[hive.HiveFile.Status == 'Sick']">Hive_{{$index}}</a>
                                    <span uib-popover-template="template" ng-if="hive.HiveFile"
                                          popover-placement="bottom" popover-title="Hive info"
                                          class="cursor-pointer">
                                         <i class="fa fa-info-circle"></i>
                                    </span>
                                    <script type="text/ng-template"
                                            id="hiveInfo.html">
                                        <div>Date: {{hive.HiveFile.Timestamp| date:'d/MM/yyyy h:mm:ss a': '+04'}}</div>
                                        <div>Health: {{hive.HiveFile.Health}}</div>
                                        <div>Food: {{hive.HiveFile.Food}}</div>
                                        <div>Cleanness: {{hive.HiveFile.Cleanness}}</div>
                                        <div>Larvae: {{hive.HiveFile.Larvae}}</div>
                                        <div>Status: <span class="{{getClass('s', hive.HiveFile)}}">{{hive.HiveFile.Status}}</span></div>

                                    </script>
                                </span>
                                <span class="description">
                                    <a>Data gathered from sensors is displayed below</a>
                                </span>
                            </div>
                            <div class="box-tools">
                                <button type="button" class="btn btn-box-tool"
                                        data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="col-md-12">
                                <div>Latest sensors read: {{hive.SensorData.Timestamp | date:'d/MM/yyyy h:mm:ss a': '+04'}}</div>
                            </div>
                            <div class="col-md-6">
                                <div>Humidity: <span class="{{getClass('h', hive.SensorData)}}">{{hive.SensorData.Humidity}}%</span></div>
                                <div>Light: {{hive.SensorData.Light*100/255 | number:2}}%</div>
                            </div>
                            <div class="col-md-6">
                                <div>Temperature: <span class="{{getClass('t', hive.SensorData)}}">{{hive.SensorData.Temperature}} °C</span></div>
                                <div>Weight: <span class="{{getClass('w', hive.SensorData)}}">{{hive.SensorData.Weight | number : 2}} kg</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
