
<div class="wrapper">

	<header class="main-header">
		<!-- Header Navbar: style can be found in header.less -->
		<nav class="navbar navbar-static-top"
			style="margin-left: 0px !important;">
			<!-- Sidebar toggle button-->

			<a class="logo" style="width: 150px"> <span class="logo-mini"><b>Cloudsim
						GUI</b></span>
			</a> <a class="sidebar-toggle"> <span class="sr-only">Toggle
					navigation</span>
			</a>

			<div class="col-md-2"
				style="margin-top: 10px; background-color: green">
				<select class="form-control" ng-model="testId" ng-change="getData()">
					<option value="1">Example 1</option>
					<option value="2">Example 2</option>
					<option value="3">Example 3</option>
					<option value="4">Example 4</option>
					<option value="5">Example 5</option>
					<option value="6">Example 6</option>
					<option value="7">Example 7</option>
					<option value="8">Example 8</option>
				</select>
			</div>
		</nav>
	</header>

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper" style="margin-left: 0px !important;">

		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-md-12" ng-hide="stepNumber === 0">
					<div class="pull-left" ng-show="stepNumber > 1"
						style="margin-right: 5px">
						<button type="button" class="btn btn-block btn-success"
							ng-click="changeStep(-1)">Previous</button>
					</div>
					<div class="pull-right" ng-show="stepNumber < 4"
						style="margin-left: 5px">
						<button type="button" class="btn btn-block btn-success"
							ng-click="changeStep(1)">Next</button>
					</div>
					<div style="padding: 10px">
						<div class="progress progress-sm active">
							<div
								class="progress-bar progress-bar-success progress-bar-striped"
								role="progressbar" aria-valuemin="0" aria-valuemax="100"
								style="width: {{stepNumber* 25}}%"></div>
						</div>
					</div>
					<div style="clear: both;"></div>
				</div>
			</div>

			<div class="row funky-show-hide" ng-hide="stepNumber === 0">
				<div class="col-md-12" ng-repeat="datacenter in data.datacenters">
					<div class="box box-widget">
						<div class="box-header with-border">
							<div class="user-block">
								<img class="img-circle" src="./App/Content/img/datacenter.png"
									alt="Datacenter"> <span class="username"><a>{{datacenter.name}}</a>
								</span><span class="description"> <span
									uib-popover-template="templates.datacenter"
									popover-placement="bottom" popover-title="Datacenter info"
									class="cursor-pointer">Additional information <i
										class="fa fa-info"></i></span> <script type="text/ng-template"
										id="datacenterTemplate.html">
        							<div>Architecture: {{datacenter.architecture}}</div>
									<div>OS: {{datacenter.os}}</div>
									<div>Cost per second: {{datacenter.costPerSecond}} G$/CPU-sec</div>
								</script>
								</span>
							</div>
							<div class="box-tools">
								<button type="button" class="btn btn-box-tool"
									data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
							</div>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<div class="col-md-6 funky-show-hide" ng-hide="stepNumber < 2"
								ng-repeat="host in datacenter.hosts">
								<div class="box box-widget">
									<div class="box-header with-border">
										<div class="user-block">
											<img class="img-circle" style="height: 35px"
												src="./App/Content/img/host.png" alt="Host"> <span
												class="username m-l-60"><a>Host_{{host.id}}</a> </span> <span
												class="description m-l-60"> <span
												uib-popover-template="templates.host"
												popover-placement="bottom" popover-title="Host info"
												class="cursor-pointer">Additional information <i
													class="fa fa-info"></i></span> <script type="text/ng-template"
													id="hostTemplate.html">
        												<div>RAM: {{host.ram}}</div>
														<div>Storage: {{host.storage}}</div>
											</script>
											</span>
										</div>
										<div class="box-tools">
											<button type="button" class="btn btn-box-tool"
												data-widget="collapse">
												<i class="fa fa-minus"></i>
											</button>
										</div>
									</div>
									<!-- /.box-header -->
									<div class="box-body">
										<div class="col-md-12 funky-show-hide"
											ng-show="stepNumber > 2">
											<div class="col-md-4" ng-repeat="pe in host.pes">
												<div class="box box-widget">
													<div class="box-header with-border">
														<div class="user-block">
															<img class="img-circle" style="height: 25px"
																src="./App/Content/img/pe.png" alt="PE"> <span
																class="username m-l-25"><a>PE_{{pe.id}}</a> </span><span
																class="description"></span>
														</div>
														<div class="box-tools">
															<button type="button" class="btn btn-box-tool"
																data-widget="collapse">
																<i class="fa fa-minus"></i>
															</button>
														</div>
													</div>
													<!-- /.box-header -->
													<div class="box-body">
														<div>Available MIPS: {{pe.availableMips}}</div>
														<div>
															Status: <b> <span
																ng-style="{1: {'color': 'green'}, 2: {'color':'orange'}, 3: {'color':'red'}}[pe.status]">{{getStatus(pe.status)}}</span>
															</b>
														</div>
														<div>Utilization: {{pe.utilization}}%</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-12 funky-show-hide"
											ng-show="stepNumber > 3">
											<div class="col-md-6" ng-repeat="vm in host.vms">
												<div class="box box-widget"  ng-style="{true: {'background-color':'#D6F5D3'}}[vm.seeCloudlets]">
													<div class="box-header with-border">
														<div class="user-block">
															<img class="img-circle" style="height: 30px"
																src="./App/Content/img/vm.png" alt="VM"> <span
																class="username m-l-45"><a>VM_{{vm.id}}</a> </span><span
																class="description m-l-45">
																<a class="cursor-pointer" ng-click="setCloudletsForVm(vm)" ng-if="vm.assignedCloudlets.length > 0">
																	<span ng-if="vm.seeCloudlets">Disable Cloudlets</span>
																	<span ng-if="!vm.seeCloudlets">Enable Cloudlets</span>
																</a>
																<a ng-if="vm.assignedCloudlets.length === 0">
																	No Cloudlets assigned!
																</a>
																</span>
														</div>
														<div class="box-tools">
															<button type="button" class="btn btn-box-tool"
																data-widget="collapse">
																<i class="fa fa-minus"></i>
															</button>
														</div>
													</div>
													<!-- /.box-header -->
													<div class="box-body">
														<div class="col-md-6">
															<div>MIPS: {{vm.mips}}</div>
															<div>Size: {{vm.size}}</div>
															<div>PEs: {{vm.pes}}</div>
														</div>
														<div class="col-md-6">
															<div>RAM: {{vm.ram}}</div>
															<div>Bw: {{vm.bw}}</div>
															<div>VMM: {{vm.vmm}}</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row funky-show-hide" ng-hide="stepNumber === 0">
				<div class="col-md-12" ng-repeat="broker in data.datacenterBrokers">
					<div class="box box-widget">
						<div class="box-header with-border">
							<div class="user-block">
								<img class="img-circle" src="./App/Content/img/broker.png"
									alt="broker"> <span class="username"><a>{{broker.name}}</a>
								</span><span class="description"></span>
							</div>
							<div class="box-tools">
								<button type="button" class="btn btn-box-tool"
									data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
							</div>
						</div>
						<div class="box-body">
							<div class="col-md-3 funky-show-hide"
								ng-repeat="cloudlet in broker.allCloudlets">
								<div class="box box-widget" ng-style="{true: {'background-color':'#D6F5D3'}}[cloudlet.isSelected]">
									<div class="box-header with-border">
										<div class="user-block">
											<img class="img-circle" style="height: 35px"
												src="./App/Content/img/cloudlet.png" alt="Cloudlet"> <span
												class="username m-l-60"><a>Cloudlet_{{cloudlet.cloudletId}}</a> </span><span
												class="description"></span>
										</div>
										<div class="box-tools">
											<button type="button" class="btn btn-box-tool"
												data-widget="collapse">
												<i class="fa fa-minus"></i>
											</button>
										</div>
									</div>
									<div class="box-body">
										<div>Cloudlet FileSize: {{cloudlet.cloudletFileSize}}</div>
										<div>Cloudlet Length: {{cloudlet.cloudletLenght}}</div>
										<div>Cloudlet Output Size:
											{{cloudlet.cloudletOutputSize}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- /.content-wrapper -->

	<footer class="main-footer" style="margin-left: 0 !important">
		<div class="pull-right hidden-xs">
			<b>Sinziana Nicolae</b>, SSA
		</div>
		<strong>Cloud Computing 2016-2017</strong>
	</footer>
</div>