<div class="row m-0">
    <div class="col-md-6" ng-repeat="apiary in data">
        <div class="box box-widget">
            <div class="box-header with-border">
                <div class="user-block">
                    <img class="img-circle"
                         src="/Content/img/apiary-icon.png" alt="Apiary"> <span class="username"><a href="#/apiary/{{apiary.Id}}">Apiary_{{apiary.Id}}</a></span>
                    <span class="description cursor-pointer">
                       <a ng-click="zoomIn(apiary)">Zoom in on the current apiary</a>
                    </span>
                </div>
                <div class="box-tools">
                    <button type="button" class="btn btn-box-tool"
                            data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div>BeeSpecies: {{apiary.BeeSpecies}}</div>
                <div>Hives No: {{apiary.HivesNo}}</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ui-gmap-google-map center="map.center" zoom="map.zoom" events="map.events" control="control">
            <ui-gmap-markers models="map.markers" coords="'self'" icon="'icon'" click="onClick">
                <ui-gmap-windows show="show">
                    <div ng-non-bindable>
                        <b>{{title}}</b><br />
                        {{description}} Species<br />
                        {{hivesNo}} hives
                    </div>
                </ui-gmap-windows>
            </ui-gmap-markers>
        </ui-gmap-google-map>
    </div>
</div>

<style>
    .angular-google-map-container {
        height: 400px;
    }
</style>
