<div class="row">
    <div class="col-md-12">

        <form class="form-horizontal" nonvalidate name="hiveFileForm">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Hive #{{currentHiveNo}}</strong></h3>
                </div>
                <div class="panel-body">
                    <button class="btn btn-default pull-right m-l-5" ng-click="cancelNewHiveFile()">Cancel</button>

                    <button class="btn btn-success pull-right" ng-click="saveHiveFile()" ng-if="!hiveFileId" ng-disabled="hiveFileForm.$invalid">New Hive File</button>
                    <button class="btn btn-success pull-right" ng-click="saveHiveFile()" ng-if="hiveFileId" ng-disabled="hiveFileForm.$invalid">Update</button>

                    <p ng-if="hiveFileId">Data: {{hiveFile.Timestamp | date:'d/MM/yyyy h:mm:ss a': '+04'}}</p>
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        <label class="col-md-3 col-xs-2 control-label input-label">Food</label>
                        <div class="col-md-6 col-xs-10">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control" ng-model="hiveFile.Food" required />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-xs-2 control-label input-label">Larvae</label>
                        <div class="col-md-6 col-xs-10">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control" ng-model="hiveFile.Larvae" required />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-xs-2 control-label input-label">Cleanness</label>
                        <div class="col-md-6 col-xs-10">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control" ng-model="hiveFile.Cleanness" required />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 col-xs-2 control-label input-label">Health</label>
                        <div class="col-md-6 col-xs-10">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control" ng-model="hiveFile.Health" required />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <span>
                            <div class="col-md-12 col-xs-12 text-center">
                                <label class="control-label">Hive Type</label>
                            </div>
                            <div class="col-md-12 col-xs-12 text-center" ng-repeat="hiveType in hiveTypes">
                                <label class="check">
                                    <input type="radio" class="icheckbox" ng-model="hiveFile.Status" ng-value="hiveType" />

                                </label>
                                {{hiveType}}
                            </div>
                        </span>
                    </div>

                </div>
                <div class="panel-footer">
                </div>
            </div>
        </form>

    </div>
</div>